

<!DOCTYPE html>
<html>
<head>
	<title>EndGem</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body>



	<%if(!i) var i =0%>

	


	<nav class="navbar navbar-expand-lg navbar-light bg-light">

		<a id="icon-link" class="navbar-brand" href="/index/0">
			<img id="icon" src="https://img.channeli.in/static/images/imglogo.png">
		</a>

		<a class="navbar-brand" href="/index/0">EndGem</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/index/0">Home <span class="sr-only">(current)</span></a>
				</li>
			</ul>

			<ul class="navbar-nav ml-auto">

				<li class="nav-item active">
					<a class="nav-link" href="#"><i class="far fa-chart-bar"></i><span class="sr-only">(current)</span></a>
				</li>

				<li class="nav-item active">
					<a class="nav-link" href="/new/<%=i%>"><i class="fas fa-plus"></i><span class="sr-only">(current)</span></a>
				</li>

				<% if(!currentUser){ %>
				<li class="nav-item active">
					<a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/signup">Sign Up <span class="sr-only">(current)</span></a>
				</li>
				<% } %>

				<% if(currentUser){ %>
			
				<li class="nav-item active">
					<a class="nav-link" href="#">Logged In As <%=currentUser.username%> <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/logout">Log Out <span class="sr-only">(current)</span></a>
				</li>
				<% } %>
				
			</ul>
			
		</div>
	</nav>

	<div class="top-gem" id="top-gem">
	
			<div class="row" id="top-gem-heading">
				<div class="col-md-12">
					Top Gems
				</div>
				 
			</div>


				<% documents.forEach((document, index)=>{ %>
				<% if(index<10){ %>


					<div class="row">
								<div class="col-md-4 col-sm-6 col-6">
									<a id="top-gem-a" href="/documents/<%=document._id%>">
										<span class="list-left"><i class="far fa-file-pdf"></i><%= document.name.substring(0,12)%></span> 
									</a>
								</div>
								<div class="col-md-4 d-none d-md-block" >
									<em>Course: <%=document.course%></em>
								</div>
								<div class="col-md-4 col-sm-6 col-6" >
									<form class="download-form" action="/download/<%=document._id%>" method="POST">
										<button class="btn-link-download"><i class="fas fa-download"></i></a></span></button>
									</form>
									<%=document.downloads%>
								</div>
							</div>
				<% } %>
				<% }) %> 
			
	
	</div>

	<div class="container">
		<% if(error && error.length>0){ %>
			<div class="alert alert-danger"><%= error %></div>
		<% } %>
		<% if(success && success.length>0){ %>
			<div class="alert alert-success"><%= success %></div>
		<% } %>
	</div>

	



	
	
	
	
	

