<%- include("partials/header", {documents: documents, i:i}) %>



<div class="container">


	<div class="jumbotron">
		<h1><%=document.name%></h1>
	</div>
	
	<div >
		<a href="https://drive.google.com/uc?id=<%=document.drive_id%>">
			<div class="row" id="pdf-show-div" style="margin-top:25px">
				<div class="col-md-12">
					<i class="far fa-file-pdf center" id="pdf-show"></i>
				</div>		
			</div>
			<div class="row" style="margin-top:5px">
				<div class="col-md-12">
					Read Online
				</div>		
			</div>
		</a>
		

		<div class="row">
			<div class="col-md-12">
				<form style=" margin-top: 40px" class="download-form" action="/download/<%=document._id%>" method="POST">
					<button class="btn-link-download"><i class="fas fa-download"></i></a></span></button>
				</form>
			</div>
			

		</div>

		<div class="row" style="margin-top: 10px">
			<div class="col-md-12">
				Number of Downloads: <%=document.downloads%>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-12">
				Uploaded by: <%=document.owner%>
			</div>
		</div>

		

		<% if(currentUser && document.owner===currentUser.username){%>
		<div class="row" style="margin-top:60px">
			<div class="col-md-6 col-6">
				<a  class="center btn btn-warning" href="/documents/<%=document._id%>/edit" >Edit</a>
			</div>
			<div class="col-md-6 col-6">
				<form  class="download-form" action="/documents/<%=document._id%>?_method=DELETE" method="POST">
					<button class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?')">Delete</button>
				</form>
			</div>
			
			
		</div>
		<%}%>
		
		
		
		
	</div> 

	
	
</div>

<script >console.log(<%=i%>)</script>

<%- include("partials/footer") %>